.outside {
  background-color: black;
  border-radius: 5px;
  padding: 20px;
  width: 350px;
}

.display {
  background-color: #ccc;
  /* height: 70px; */
  border-radius: 5px;
}

.buttons {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.button {
  display: flex;
  background-color: #212121;
  margin: 10px;
  padding: 20px;
  border-radius: 50%;
  box-shadow: 0px 0px 8px #e8e6e6;
  cursor: pointer;
  transition: box-shadow 0.4s ease;
}

.button:hover {
  box-shadow: 0px 0px 20px #e8e6e6;
}

.inner {
  width: 25px;
  text-align: center;
}

.cal {
  color: black;
  text-align: right;
  margin: 5px 0px;
  padding: 0px 10px 0px 10px;
  font-size: xx-large;
}

.res {
  height: 20px;
  color: black;
  text-align: right;
  margin: 0px;
  padding: 5px 10px 0px 10px;
}
