#fe {
  background-color: #ccc;
  max-width: 300px;
  border-radius: 5px;
  box-shadow: 0px 2px 8px #a8a8a8;
  padding: 15px;
}

#fe .folder {
  font-weight: bolder;
  color: rgb(43, 43, 43);
  cursor: pointer;
}

#fe .file {
  color: rgb(43, 43, 43);
  font-weight: 500;
}

#fe .file-container {
  border-left: 2px dashed rgb(150, 149, 149);
  margin-left: 12px;
}

#fe .folder-container .file {
  margin: 5px 22px;
}

#fe .folder-container {
  margin-left: 20px;
}
